/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}


/******************************************
/* Header
/*******************************************/


html {
  background-color: rgb(249, 249, 249);
  font-size: 10px;
}

html * {
  font-family: "spartan", sans-serif;
}

header {
  background-color: rgb(255, 255, 255);
  height: 144px;
}

header * {
  font-family: "spartan", sans-serif;
  font-weight: 700;
  color: rgb(41, 41, 41);
  font-size: 2rem;
}

header h1, div.sideMenuLogo h1 {
  padding-top: 2px;
  padding-left: 18px;
  font-weight: 700;
  line-height: 2.4rem;
  font-size: 1.8rem;
}


header section.logoTextContainer h1 + h1 {
  display: block;
  clear: both;
}

div.sideMenuLogo h1 + h1 {
  top: 35px;
}

div.sideMenuLogo section {
  display: inline;
}

header span {
  font-size: 46px;
  font-weight: 100;
  color: rgb(89, 89, 89);
  padding-top: 7px;
  margin-left: 5px;
}

header li {
  font-weight: 400;
}

header div {
  padding-left: 85px;
  padding-top: 50px;
}

header div * {
  float: left;
}

header img, div.sideMenuLogo img {
  height: 46px;
}

header ul {
  display: flex;
  justify-content: center;
}

header li {
  padding: 20px 10px;
}

nav#menuButton, nav.staticNoAction {
  position: absolute;
  width: 45px;
  top: 50px;
  right: 69px;
  padding-bottom: 7px;
  padding-right: 5px;
  transform: scaleX(-1);
  cursor: pointer;
}

nav#menuButton span, nav.staticNoAction span {
  display: block;
  height: 1px;
  border-bottom: solid 2px rgb(56, 56, 56);
  width: 30px;
  transition: 0.7s;
}

nav#menuButton {
  z-index: 2;
}

nav#menuButton:hover :nth-child(1){
width: 0;
transition: 1s;
}

nav#menuButton:hover :nth-child(2){
  width: 0;
  transition: 1s;
  transition-delay: 0.2s; 
}

nav#menuButton:hover :nth-child(3){
  width: 0;
  transition: 1s;
  transition-delay: 0.4s; 
}

nav.staticNoAction {
  z-index: 0;
}

nav.staticNoAction span {
  border-bottom: solid 2px rgb(187, 187, 187);
}

/******************************************
/* Main Body
/*******************************************/

section.mainBody {
  background: linear-gradient(rgb(235, 235, 235), rgb(249, 249, 249) 70px);
  clear: both;
  width: 100%;
}

section.mainBody > section {
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
}

section.mainBody section.alphabet {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  margin: 0;
  width: 100%;
  background: linear-gradient(rgb(235, 235, 235), rgb(249, 249, 249) 70px);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

section.mainBody section + section { /*offset for href anchors, so page jumps correctly and not covered by sticky alphabet */
  padding-top: 120px;
  margin-top: -120px;
  margin-bottom: 70px;
}

.alphabet h3 a{ /* alphabet text at the top */
  font-size: 2rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}


a.noEntry {
  color: rgb(185, 185, 185);
}

.italics {
  font-style: italic;
}

h2.sectionLetter { /* Big Letter for Each Section */
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

div.entryWrapper {
  display: grid;
  grid-template-columns: 26fr 1fr;
  margin-bottom: 20px;
}

.keyReadings, div.entryWrapper {
  line-height: 2.5rem;
}

.keyReadings h2 {
  font-size: 2.5rem;
  padding-bottom: 20px;
  padding-top: 5px;
}

.keyReadings .entryWrapper p {
  margin-bottom: 20px;
}

h4.authorName {
  font-weight: 700;
  padding-right: 1rem;
}

section.keyReadings {
  padding-bottom: 30px;
}

section h4, section p {
  display: inline;
}

section p + p { /*makes multiple entrees for each author display 1 row lower*/
  display: block;
}

.spaceDelete {
  letter-spacing: -1.5px;
}

.downloadIcon {
  width: 60%;
  height: auto;
}

/******************************************
/* Footer
/*******************************************/

footer {
  display: block;
  clear: both;
  background-color: rgb(249, 249, 249);
  margin-top: 220px;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer li {
  margin: 20px 24px;
  font-size: 1.6rem;
  font-weight: 500;
}

footer li.socialMedia {
  padding: 10px;
  border-radius: 50px;
  background-color: #CFCBC6;
}

footer li.socialMedia i {
  color: white;
}

footer li.rightAlign {
  margin-right: 24px;
  margin-left: auto;
}

.rightGutter {
  margin-right: 74px;
  margin-left: 0;
}

.leftGutter {
margin-left: 74px;
margin-right: 0;
}

footer li.leftAlign {
  margin-right: auto;
}

li.invisible {
  visibility: hidden;
}

footer p {
  text-align: center;
  padding-top: 135px;
  padding-bottom: 20px;
  font-family: 'Readex Pro', sans-serif;
  font-size: 1.6rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* Slide Out Menu */

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: rgb(211, 211, 211);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.3 second transition effect to slide in the sidenav */
}

.sidenav * {
  white-space: nowrap;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(38, 38, 38);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 57px;
  right: 72px;
  font-size: 3rem;
  cursor: pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Further Side Menu Customisation */

.sideMenuLogo h1 {
  display: inline;
  position: absolute;
  left: auto;
}


div.sideMenuLogo {
  position: absolute;
  top: 43px;
  left: 44px;
}

.sideMenuLinks {
  margin-top: 100px;
  margin-left: 70px;
  padding-left: 0;
}

.sideMenuLinks a {
  font-size: 1.6rem;
  width: fit-content;
  padding-left: 0;
  margin-top: 48px;
}

.searchContainer {
  height: auto;
  width: 60%;
  position: relative;
  margin-bottom: 12px;
}



.searchContainer img {
  height: 15px;
  margin-left: -7px;
}

.searchContainer * {
  border-width: 0;
  background-color: rgb(211, 211, 211);
}

.searchContainer form {
  border-bottom: solid 1px rgb(56, 56, 56);
  padding-bottom: 10px;
}

.searchContainer * {
  height: inherit;
}

.searchContainer input {
  font-size: 1.6rem;
  font-weight: 300;
  width: 90%;
}

.searchContainer input[type=text]:focus {
  outline: none;
}


a.closebtn {
  padding: 0;
  margin: 0;
  display: block;
}

a.closebtn nav span {
  display: block;
  height: 1px;
  border-bottom: solid 2px rgb(56, 56, 56);
  width: 30px;
  margin-bottom: 7px;
}


@media only screen and (max-width: 580px) {
  .logoTextContainer{
      display: none;
  }
}


@media only screen and (max-width: 1670px) {
  .sideMenuLogo h1{
      display: none;
  }
}