/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}


/******************************************
/* Header
/*******************************************/


html {
  background-color: rgb(249, 249, 249);
  font-size: 10px;
}

html * {
  font-family: "spartan", sans-serif;
}

header {
  background-color: rgb(255, 255, 255);
  height: 144px;
}

header * {
  font-family: "spartan", sans-serif;
  font-weight: 700;
  color: rgb(41, 41, 41);
  font-size: 2rem;
}

header h1, div.sideMenuLogo h1 {
  padding-top: 2px;
  padding-left: 18px;
  font-weight: 700;
  line-height: 2.4rem;
  font-size: 1.8rem;
}


header section.logoTextContainer h1 + h1 {
  display: block;
  clear: both;
}

div.sideMenuLogo h1 + h1 {
  top: 35px;
}

div.sideMenuLogo section {
  display: inline;
}

header span {
  font-size: 46px;
  font-weight: 100;
  color: rgb(89, 89, 89);
  padding-top: 7px;
  margin-left: 5px;
}

header li {
  font-weight: 400;
}

header div {
  padding-left: 85px;
  padding-top: 50px;
}

header div * {
  float: left;
}

header img, div.sideMenuLogo img {
  height: 46px;
}

header ul {
  display: flex;
  justify-content: center;
}

header li {
  padding: 20px 10px;
}

/******************************************
/* Main Body
/*******************************************/

section.mainBody {
  background: linear-gradient(rgb(235, 235, 235), rgb(249, 249, 249) 70px);
  clear: both;
  width: 100%;
}

section.mainBody > section {
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
}

section.mainBody section.alphabet {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  margin: 0;
  width: 100%;
  background: linear-gradient(rgb(235, 235, 235), rgb(249, 249, 249) 70px);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

section.mainBody section + section { /*offset for href anchors, so page jumps correctly and not covered by sticky alphabet */
  padding-top: 120px;
  margin-top: -120px;
  margin-bottom: 70px;
}

.alphabet h3 a{ /* alphabet text at the top */
  font-size: 2rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}


a.noEntry {
  color: rgb(185, 185, 185);
}

.italics {
  font-style: italic;
}

h2.sectionLetter { /* Big Letter for Each Section */
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

div.entryWrapper {
  display: grid;
  grid-template-columns: 26fr 1fr;
  margin-bottom: 20px;
}

.keyReadings, div.entryWrapper {
  line-height: 2.5rem;
}

.keyReadings h2 {
  font-size: 2.5rem;
  padding-bottom: 20px;
  padding-top: 5px;
}

.keyReadings .entryWrapper p {
  margin-bottom: 20px;
}

h4.authorName {
  font-weight: 700;
  padding-right: 1rem;
}

section.keyReadings {
  padding-bottom: 30px;
}

section h4, section p {
  display: inline;
}

section p + p { /*makes multiple entrees for each author display 1 row lower*/
  display: block;
}

.spaceDelete {
  letter-spacing: -1.5px;
}

.downloadIcon {
  width: 60%;
  height: auto;
}

/******************************************
/* Footer
/*******************************************/

footer {
  display: block;
  clear: both;
  background-color: rgb(249, 249, 249);
  margin-top: 220px;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer li {
  margin: 20px 24px;
  font-size: 1.6rem;
  font-weight: 500;
}

footer li.socialMedia {
  padding: 10px;
  border-radius: 50px;
  background-color: #CFCBC6;
}

footer li.socialMedia i {
  color: white;
}

footer li.rightAlign {
  margin-right: 24px;
  margin-left: auto;
}

.rightGutter {
  margin-right: 74px;
  margin-left: 0;
}

.leftGutter {
margin-left: 74px;
margin-right: 0;
}

footer li.leftAlign {
  margin-right: auto;
}

li.invisible {
  visibility: hidden;
}

footer p {
  text-align: center;
  padding-top: 135px;
  padding-bottom: 20px;
  font-family: 'Readex Pro', sans-serif;
  font-size: 1.6rem;
}
