#map {  /*map div must have a define height, as per leaflet instructions */
    /* height: calc(100vh - 144px) */
    height: 100%;
    z-index: 0 !important;
}


/* ////////////////////////
Map Menu 
//////////////////////// */


.mapSection {
    height: calc(100vh - 144px);
}

#mapFilters * {
    background-color: white;
}

#mapFilters {
    position: absolute;
    top: 144px;
    left: 0;
    z-index: 99;
    height: calc(100vh - 144px);
    width: calc(16% + 25px);
    display: flex;
}

.filtersList {
    width: 100%;
}

.drawIcon {
    height: 100%;
    width: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.drawIcon img {
    width: 100%;
}




/* ////////////////////////
Leaflet fixes
///////////////////////// */

/* Correcting pop arrow */

.leaflet-popup-tip {
    width: 20px;
    height: 20px;
    border: none;
    box-shadow: none;
    margin-top: -13px;
}

.leaflet-popup-tip-container {
    left: 0 !important;
}



/*moving zoom control in top left to accomidate side panel (before it's open) */

.leaflet-control-zoom {
    margin-left: 35px !important;
}