#map {  /*map div must have a define height, as per leaflet instructions */
    /* height: calc(100vh - 144px) */
    height: 100%;
    z-index: 0 !important;
}


/* ////////////////////////
Map Menu 
//////////////////////// */


.mapSection {
    height: calc(100vh - 144px);
}

#mapFilters * {
    background-color: white;
}

#mapFilters {
    position: absolute;
    top: 144px;
    left: 0;
    z-index: 99;
    height: calc(100vh - 144px);
    width: calc(16% + 25px);
    display: flex;
}

.filtersList {
    width: 100%;
    /* overflow: auto; */
}

.filterContainer {
    overflow: auto;
    height: calc(100% - 194px);
}

.filterButtons {
    height: 50px;
}

.drawIcon {
    height: 100%;
    width: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.drawIcon img {
    width: 100%;
}




.collapsible {
    border-radius: 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

select {
    width: 100%;
    border: none;
}

option {
    font-size: 1.6rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    background-image: url(/img/tickbox_empty.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 1em;
    background-position-y: 0.4em;
 }
  
option:checked {
    background-image: url(/img/tickbox_filled.png);
}

select:focus, 
option:focus {
    outline: none;
}


/*scroll bar styling*/

/* width */
select::-webkit-scrollbar,
.filtersList::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
select::-webkit-scrollbar-track,
.filtersList::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgb(242, 242, 242)
  }
   
  /* Handle */
select::-webkit-scrollbar-thumb,
.filtersList::-webkit-scrollbar-thumb {
    background: rgb(206, 206, 206); 
    border-radius: 10px;
  }

/* ///////////////////////
Marker Control
//////////////////////// */




/* ////////////////////////
Bubble Styling
///////////////////////// */

.siteName {
    font-weight: bold;
}


.objectsFound {
}

.seeResults {
    clear: all;
    float: right;
}

.seeResults,
.objectsFound {
    display: block;
}


/* ////////////////////////
Leaflet fixes
///////////////////////// */

/* Correcting pop arrow */

.leaflet-popup-tip {
    width: 20px;
    height: 20px;
    border: none;
    box-shadow: none;
    margin-top: -13px;
}

.leaflet-popup-tip-container {
    left: 0 !important;
}



/*moving zoom control in top left to accomidate side panel (before it's open) */

.leaflet-control-zoom {
    margin-left: 35px !important;
}