/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}


/******************************************
/* Header
/*******************************************/


html {
  background-color: rgb(249, 249, 249);
  font-size: 10px;
}

html * {
  font-family: "spartan", sans-serif;
}

header {
  background-color: rgb(255, 255, 255);
  height: 144px;
}

header * {
  font-family: "spartan", sans-serif;
  font-weight: 700;
  color: rgb(41, 41, 41);
  font-size: 2rem;
}

header h1, div.sideMenuLogo h1 {
  padding-top: 2px;
  padding-left: 18px;
  font-weight: 700;
  line-height: 2.4rem;
  font-size: 1.8rem;
}

header section.logoTextContainer h1 + h1 {
  display: block;
  clear: both;
}

div.sideMenuLogo h1 + h1 {
  top: 35px;
}

div.sideMenuLogo section {
  display: inline;
}

header span {
  font-size: 46px;
  font-weight: 100;
  color: rgb(89, 89, 89);
  padding-top: 7px;
  margin-left: 5px;
}

header li {
  font-weight: 400;
}

header div {
  padding-left: 85px;
  padding-top: 50px;
}

header div * {
  float: left;
}

header img, div.sideMenuLogo img {
  height: 46px;
}

header ul {
  display: flex;
  justify-content: center;
}

header li {
  padding: 20px 10px;
}

/******************************************
/* Main Body
/*******************************************/

section.mainBody {
  background: linear-gradient(rgb(235, 235, 235), rgb(249, 249, 249) 70px);
  clear: both;
  width: 100%;
  min-height: 600px;
}

.mainBody section {
  width: 50%;
  margin: 0 auto;
  font-size: 2rem;
}

.sectionOne {
  padding-top: 40px;
}

.sectionOne h2 {
  text-align: center;
  font-size: 4rem;
  padding-bottom: 20px;
}

div.mainText {
  margin-top: 30px;
}

div.mainText p {
  text-align: justify;
}

div.mainText p + p {
  padding-top: 20px;
}

p.signature {
  padding-top: 20px;
  /* font-weight: bold; */
  text-align: right !important;
}

.sectionOne, div.mainText {
  line-height: 3rem;
}

section.sectionOne {
  padding-bottom: 30px;
}


section.logoHolder {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoHolder img {
  max-height: 120px;
  max-width: 120px;
}



/******************************************
/* Footer
/*******************************************/

footer {
  display: block;
  clear: both;
  background-color: rgb(249, 249, 249);
  margin-top: 220px;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer li {
  margin: 20px 24px;
  font-size: 1.6rem;
  font-weight: 500;
}

footer li.socialMedia {
  padding: 10px;
  border-radius: 50px;
  background-color: #CFCBC6;
}

footer li.socialMedia i {
  color: white;
}

footer li.rightAlign {
  margin-right: 24px;
  margin-left: auto;
}

.rightGutter {
  margin-right: 74px;
  margin-left: 0;
}

.leftGutter {
margin-left: 74px;
margin-right: 0;
}

footer li.leftAlign {
  margin-right: auto;
}

li.invisible {
  visibility: hidden;
}

footer p {
  text-align: center;
  padding-top: 135px;
  padding-bottom: 20px;
  font-family: 'Readex Pro', sans-serif;
  font-size: 1.6rem;
}
